@font-face {
    font-family: DSEG7;
    src: url("fonts/DSEG7/Classic/DSEG7Classic-Regular.woff");
}

@font-face {
    font-family: DSEG14;    
    src: url("fonts/DSEG14/Classic/DSEG14Classic-Regular.ttf");
}

body#wrapper, html {
    width: 100%;
    overflow-x: hidden;
}

body#wrapper {
    text-align: center;
}

body {
    background: rgb(0,0,0);
    color: rgb(255,255,255);
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Oxygen', sans-serif;
    
}

div#clock {
    display: block;
    font-size: 40px;
    font-family: DSEG7;
    margin-bottom: 30px;
}

span#date {
    font-family: DSEG14;
}

span#day {
    font-family: DSEG14;
}

div.countDownWrapper {
    font-family: 'Anonymous Pro', monospace ;
    /*font-weight: bold;*/
    /*font-family: DSEG7;
    line-height: 200%;
    font-size: small;*/
}

.center {
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    display: inline-block;
    border-radius: 8px;
    border-width: 1px;
    padding: 15px;
}

iframe {
    display: block;
    margin-top: 0;
    border: none;
    padding: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

body#weatherWrapper {
    margin: 0;
    padding: 0;
    width: 216px;
    height: 390px;
    overflow: hidden;
    
}